<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogistHelper.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogistHelper.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LogistHelper.Settings>
            <setting name="lastContractNumer" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="lastContractDate" serializeAs="String">
                <value>2024-12-12</value>
            </setting>
        </LogistHelper.Settings>
    </userSettings>
    <applicationSettings>
        <LogistHelper.AppSettings>
            <setting name="DefaultServerUri" serializeAs="String">
                <value>https://localhost:7081/api</value>
            </setting>
            <setting name="DefaultDaDataKey" serializeAs="String">
                <value>00475e8fb9e3d1877e8b9e0d5d5f269c2a5a7f90</value>
            </setting>
            <setting name="DefaultYandexKey" serializeAs="String">
                <value>e9a264f5-e0d3-4b7b-aaf6-aed58083b36c</value>
            </setting>
        </LogistHelper.AppSettings>
    </applicationSettings>
</configuration>